
body {
    /* background-image:url(premium_photo-1674048382856-aa9984d8b391.jpeg); */
    background-color: #2D3142;
    color: #DED6D1;
    
}
h1 {
    /* font */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 0px 4px #c8d8e4;
    width:fit-content;
    text-align: center;

    
}
img {
    max-width: 100%;
    height: auto;
}
.header {
    position: sticky;
}
p {
    /* font */
    font-family: 'Roboto', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 25px 15px;
}
.logoLink {
    
    width: fit-content;
    text-align: center;
    border-style:hidden;
    border-radius:7px;
    background-color: #6d809f;
    margin: auto;   
    padding: 0.15em 0.5em;
    width:fit-content;

}
.introParagraph {
    font-size:10px;
    text-align:justify;
    grid-area: text1;
    border-style: solid;
    border-color: white;
    border-width: 0.5em;
    padding: 0px 5px;
    /* font  */
}

.logoLink > a, .logoLink>:link, .logoLink>a:visited, .logoLink>a:hover, .logoLink>a:active {
    color:#D4C5E2;
    text-decoration: none;
}
a {
    color:#D4C5E2;
    text-decoration: underline;
    text-decoration-style: dotted;
}
a:hover {
    text-decoration: none;
}
.otterTitle {
    display: flex;
    justify-content: space-around;
    border-style: hidden;
    border-color: #4F5D75;
    
    border-radius: 0px;
    width: auto;
    border-width: auto;
    margin: -8px -4px 0px -4px;    
    top: 5px;
    padding: 8px 8px 8px 8px;
    position: sticky;
    align-items: center;
    border-radius: 30px;
    background-color: #607394;
    box-shadow: 0px 0px 10px black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 3px;
    font-size: 40px;
}
.supportingLink {
    width:7%;
    margin: auto;
    text-align: center;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20px;
    color: #D4C5E2;
    text-decoration:none;
    font-size: 13px;
    background-color: #6d809f;
}
.supportingLink:hover, .logoLink:hover {
    filter:brightness(1.2);
}
.siteGridContainer {
    display: grid;
    margin-top: 16px;
    margin-bottom: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr auto auto;
    align-items: baseline;
    grid-template-areas:
        "text1 text1 text1"
        "img1 text2 text2"
        ". img2 text3"
        ". . img3"
        "separator separator separator"
        "finalText finalText finalText";
    gap: 20px;
}

.hangingFrame {
    content: url(a-wooden-frame-hanging-alone-against-a-transparent-backdrop-free-png.webp);
    width: 24em;
    position: absolute;
    top: 0%;
    left: 1em;
    
}
.img1 {
    grid-area: img1;
    position: sticky;
    top: 95px;
    
    
}
.img2 {
    grid-area: img2;
    position: sticky;
    top: 95px;
}
.img3 {
    grid-area: img3;
    position: sticky;
    top: 95px;
}
.img1, .img2, .img3 {
    border-style: solid;
    border-color: #4F5D75;
    border-width: 20px;
    border-radius: 30px;
    place-self: start;
    justify-self: stretch;
    align-self: stretch;
    overflow: hidden;
}





.text2 {
    grid-area: text2;
    border-style: solid;
    border-color: white;
    border-width: 0.5em;
    padding: 0px 5px;
}
.text3 {
    grid-area: text3;
    border-style: solid;
    border-color: white;
    border-width: 0.5em;
    padding: 0px 5px
}
.text1, .text2, .text3 {
    place-self: stretch;
}
.finalText {
    grid-area: finalText;
    border-style: hidden;
    text-align: center;

    padding: 2px 1px;
    padding-bottom: 0px;
    margin: 10px;
    border-radius: 30px;
    background-color: #4F5D75;
    
} 
.finalText > p {
    margin: 16px auto;
}
.introParagraph, .text2, .text3 {
    border-style: hidden;
    border-radius: 10px; 
    background-color: #4F5D75;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.introParagraph:hover, .text2:hover, .text3:hover, .finalText:hover {
    background-color: #6d809f;
    box-shadow: 0px 0px 15px black;
}
.textUnderImage {
    opacity: 0;
}
.img1:hover, .img2:hover, .img3:hover {
    border-color:  #6d809f;
    filter: blur(5px);
    opacity: 0.7;
    .textUnderImage {
        opacity: 1;
        color: white;
        filter: blur(-5px);
    }
}
.projectContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
   margin: auto;
   width: 100%;
   gap: 20px;
}
.projectBlock {
    border-style: solid;
    border-radius: 3px;
    border-width: 5px;
    border-style: hidden;
    border-radius: 10px; 
    background-color: #4F5D75;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px black;
}

h2 > a {
    color: white;
    background-color: #4F5D75;
    opacity: 0.7;
    z-index: -2;
}
.separator {
    grid-area: separator;
    justify-self: center;
    height: 1rem;
    width: auto;
}
.pageTitle {
    margin: auto;
    text-align: center;
    width: fit-content;
    text-align: center;
    border-style:hidden;
    border-radius:7px;
    background-color: #607394;
    margin: 15px auto 10px auto;
    padding: 0.15em 0.5em;
    width:fit-content;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 3px;
    font-size: 30px;
    box-shadow: 0px 0px 30px black;
}


@media (max-height: 1000px) {
    .img1, .img2, .img3 {
        max-height: 70vh; 
        width:auto;
        /* make this so that the images get smaller if the screen is wide enough */
    }
    .finalText {
        max-height: 10vh;
        width:auto;
    }
}
.aboutMePicAndFrame {

}

.pastProjectsPicAndFrame {

}

.text2, .text3 {
    padding: -5px auto;
}

.aboutMeGrid { /* items MUST have the grid-area: "name" tag!!! */
    display: grid;
    grid-template-rows: auto 250px 250px 230px 500px;
    grid-template-columns: 1fr 50% 1fr;
    grid-template-areas:
        ". headshot ."
        "homeImage aboutMe1 aboutMe1"
        "aboutMe2 aboutMe2 schoolImage"
        "musicImage aboutMe3 aboutMe3"
        "aboutMe4 aboutMe4 rugbyImage";
 
    justify-items: center;
    gap: 40px;

}
.headshot {
    grid-area: headshot;
}
.homeImage { 
    grid-area: homeImage;
    aspect-ratio: 1600/1056;
}
.schoolImage {
    grid-area: schoolImage;
}
.musicImage {
    grid-area: musicImage;
}
.rugbyImage {
    grid-area: rugbyImage;
}
.aboutMe1 { grid-area: aboutMe1; }
.aboutMe2 { 
    grid-area: aboutMe2; 
    text-align: right;
}
.aboutMe3 { 
    grid-area: aboutMe3;
    
}
.aboutMe4 { 
    grid-area: aboutMe4;
    text-align: right;
 }
 .homeImage, .schoolImage, .musicImage, .rugbyImage, .headshot {
    border-style: solid;
    border-color: #4F5D75;
    border-width: 20px;
    border-radius: 30px;
    /* place-self: start; */
    justify-self: stretch;
    align-self: stretch;
    overflow: hidden;
    

 }
 .aboutMe1, .aboutMe2, .aboutMe3, .aboutMe4 {
    border-style: hidden;
    border-radius: 10px; 
    background-color: #4F5D75;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
 }
 .headshot {
    max-width: 50%;
    height: auto;
    justify-self: center;
 }
 
 input {
    width: 100%;
    
 }