
body {
    /* background-image:url(premium_photo-1674048382856-aa9984d8b391.jpeg); */
    background-color: #c8d8e4;
}
h1 {
    /* font */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 0px 4px #c8d8e4;
    width:fit-content;
    text-align: center;

    
}
img {
    max-width: 100%;
    height: auto;
}
.header {
    position: sticky;
}
p {
    /* font */
    font-family: 'Roboto', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.logoLink {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 4px 4px #c8d8e4;
    font-size: 1.35em;
    width: fit-content;
    text-align: center;
    border-style:ridge;

    margin: auto;   
    padding: 0.15em 0.5em;
    width:fit-content;

}
.introParagraph {
    color: rgb(0, 0, 0);
    font-size:10px;
    text-align:justify;
    grid-area: text1;
    border-style: solid;
    border-color: white;
    border-width: 0.5em;
    padding: 0px 5px
    /* font  */
}

.otterTitle {
    display: flex;
    justify-content: space-around;
    border-style: solid;
    border-color: #ffffff;
    background-color: #9AC2C9;
    color: #4c5786;
    border-radius: 0px;
    width: auto;
    margin: -8px -8px -8px -8px;   
    padding: 8px 8px 8px 8px;
    position: sticky;
    top: 0px;
    align-items: center;

    
}
.supportingLink {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 4px 4px #c8d8e4;
    width:fit-content;
    text-align: center;
    color: #4c5786;
    text-decoration:none;
    font-size: 13px;
}
.siteGridContainer {
    display: grid;
    margin-top: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: baseline;
    grid-template-areas:
        "text1 text1 text1"
        "img1 text2 text2"
        ". img2 text3"
        ". . img3"
        "finalText finalText finalText";
}

.hangingFrame {
    content: url(a-wooden-frame-hanging-alone-against-a-transparent-backdrop-free-png.webp);
    width: 24em;
    position: absolute;
    top: 0%;
    left: 1em;
    
}
.img1 {
    grid-area: img1;
    position: sticky;
    top: 60px;
    
}
.img2 {
    grid-area: img2;
    position: sticky;
    top: 60px;
}
.img3 {
    grid-area: img3;
    position: sticky;
    top: 60px;
}
.text2 {
    grid-area: text2;
    border-style: solid;
    border-color: white;
    border-width: 0.5em;
    padding: 0px 5px
}
.text3 {
    grid-area: text3;
    border-style: solid;
    border-color: white;
    border-width: 0.5em;
    padding: 0px 5px
}
.finalText {
    grid-area: finalText;
    border-style: solid;
    text-align: center;
    border-color: white;
    border-width: 0.5em;
    padding: 0px 5px
}
.aboutMePicAndFrame {

}

.pastProjectsPicAndFrame {

}