
body {
    /* background-image:url(premium_photo-1674048382856-aa9984d8b391.jpeg); */
    background-color: #c8d8e4;
}
h1 {
    /* font */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 0px 4px #c8d8e4;
    width:fit-content;
    text-align: center;

    
}
img {
    max-width: 100%;
    height: auto;
}
.header {
    position: sticky;
}
p {
    /* font */
    font-family: 'Roboto', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.logoLink {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 4px 4px #c8d8e4;
    font-size:30px;
    width: fit-content;
    text-align: center;
    border-style:ridge;

    margin: auto;   
    padding: 4px;
    width:fit-content;

}
.introParagraph {
    background-color: rgb(207, 158, 62);
    color: rgb(100, 72, 6);
    
    text-align: left;
    grid-area: "text1";
    /* font  */
}
.otterTitle {
    display: flex;
    justify-content: space-around;
    border-style: solid;
    border-color: #ffffff;
    background-color: #9AC2C9;
    color: #4c5786;
    border-radius: 0px;
    width: auto;
    margin: -8px -8px -8px -8px;   
    padding: 8px 8px 8px 8px;
    position: sticky;
    top: 0px;
    align-items: center;

    
}
.supportingLink {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 4px 4px #c8d8e4;
    width:fit-content;
    text-align: center;
    color: #4c5786;
    text-decoration:none;
}
.siteGridContainer {
    display: grid;
    margin-top:40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30em 30em 30em 30em 30em;
    grid-template-areas:
        "text1 text1 text1"
        "img1 text2 text2"
        ". img2 text3"
        ". . img3"
        ". . ."
}

.otterImage {
   /* width: 12%;
   height: auto;
   position:absolute;
   bottom: 3%;
   left: 3%; */
   width: 12%;
   height: auto;
   position: absolute;
   bottom: 65%;
   left: 9%;

}
.mirroredOtterImage {
    /* width: 12%;
    height: auto;
    transform: rotateY(180deg);
    position: absolute;
    bottom: 3%;
    right: 3%; */
    width: 12%;
    height: auto;
    transform: rotateY(180deg);
    position: absolute;
    bottom: 66%;
    right: 9%;
}
.bigFrame {

}
.hangingFrame {
    content: url(a-wooden-frame-hanging-alone-against-a-transparent-backdrop-free-png.webp);
    width: 24em;
    position: absolute;
    top: 0%;
    left: 1em;
    
}
.imageInFrame {
    grid-area: img1;
    
}

.aboutMePicAndFrame {

}

.pastProjectsPicAndFrame {

}